@using MVCLab04.Models
@model List<news>

<table style="border:solid 2px">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Pref</th>
        <th>Descreption</th>
        <th>Date Time</th>
        <th>Catogery</th>
        <th>News Editor</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.id</td>
            <td>@item.title</td>
            <td>@item.pref</td>
            <td>@item.desc</td>
            <td>@item.date</td>
            <td>@item.catogery.name</td>
            <td>@Html.DisplayFor(i => item.user.name)</td>
        </tr>
    }
</table>


